name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        continue-on-error: true
        env:
          JEST_JUNIT_OUTPUT_DIR: .
          JEST_JUNIT_OUTPUT_NAME: junit.xml
        run: npm run test:ci

      - name: Mergify CI Upload
        if: success() || failure()
        uses: mergifyio/gha-mergify-ci@v8
        with:
          token: ${{ secrets.MERGIFY_TOKEN }}
          report_path: junit.xml
